

<div class="d-flex justify-content-around">
  <div class="row opacity-color">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <%= link_to product, class: "link-product" do %>
        <div class="card-trip">
          <%#= cl_image_tag product.photo, crop: :fill, width: 400, class: "product-photo"%>
          <div class="card-trip-infos text-center ">
            <div>
              <p><%= product.shop.name %></p>
              <h4><%= product.name %></h4>
            </div>
            <div class="card-price">

        <div class="price-currency"><%= product.price_cents %> €/kg</div>
      </div>
          <button class="main-cta">
          <div class="container-counter" id="container-counter">
            <div class="counter">
              -
            </div>
            <input type="text" placeholder="1">
            <div class="counter">
              +
            </div>
           </div>
          <div class="buttons" class="cta" onclick="myFunction()" >
            <div class="content" id="basket"><%= image_tag "picto/panier.svg", class: "nav-link picto", crop: :fill, width: 50 %></div>
            <div class="content" id="add">+</div>
          </div>
          </button>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>


<div class="d-flex justify-content-around">
  <div class="row opacity-color">
    <div class="card-trip">
          <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fvergerpelanne.com%2Fpomme%2F&psig=AOvVaw2q9xZjkhI1AqGyyo0OmunG&ust=1606407777029000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMiclruNnu0CFQAAAAAdAAAAABAD" alt="">
          <div class="card-trip-infos text-center ">
            <div>
              <p>Fruits</p>
              <h4>Banane</h4>
            </div>
            <div class="card-price">

        <div class="price-currency">2 €/kg</div>
      </div>
          </div>
        </div>
  </div>
</div>
