<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path do %>
  <h2>Food'ici</h2>
    <%#= cl_image_tag "#", class: "navbar-brand ", width: 100%>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Mes commandes", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "picto/avatar-food-ici.png", class: "nav-link picto", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "mes commandes", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path do %>
        <%= image_tag "picto/avatar-food-ici.png", class: "nav-link picto" %>
      <% end %>
        </li>
      <% end %>
      <%= link_to cart_path do %>
        <%= image_tag "picto/panier-food-ici.png", class: "nav-link picto" %>
      <% end %>
    </ul>
  </div>
</div>

