<main class="content-home text-center">
  <div class="blob-container">
    <div class="shape-homepage-1"></div>
    <div class="shape-homepage-2"></div>
  </div>

  <div class="image-banner-homepage"></div>

  <div class="welcome-block my-5">
    <h1>Bienvenue cher locavore !</h1>
    <%# <p class="text-large">Retrouvez les commerçants <strong>près de chez vous<br></strong> et passez une <strong>commande unique</strong> en quelques clics.</p> %>
    <div class="d-flex steps-container-wrapper-hp">
      <div class="steps-container-hp">
        <p class="steps-overtitle-hp">étape 1</p>
        <p class="steps-text-hp">Je renseigne <strong>mon point de départ.</strong></p>
      </div>

      <div class="steps-container-hp">
        <p class="steps-overtitle-hp">étape 2</p>
        <p class="steps-text-hp">Je fais <strong>mes emplettes</strong> auprès des commerçants à proximité.</p>
      </div>

      <div class="steps-container-hp">
        <p class="steps-overtitle-hp">étape 3</p>
        <p class="steps-text-hp">Je passe une <strong>commande unique</strong> pour tous les commerces !</p>
      </div>

      <div class="steps-container-hp">
        <p class="steps-overtitle-hp">étape 4</p>
        <p class="steps-text-hp"><strong>Mes commandes sont prêtes !</strong> Je suis l'itinéraire  pour récupérer mes courses.</p>
      </div>
    </div>
  </div>

  <div class="section-form-homepage">
    <div data-controller="map">
      <%= form_tag products_path, method: :get do %>
        <div class="container search-form-wrapper-hp">
          <%# Section ADDRESS %>
          <div class="address-section-hp">
            <h3>Quel sera votre point de départ ?</h3>
            <%= text_field_tag :address,
              params[:address],
              class: "form-control search-form-control form-group col-6",
              id: "address_input",
              placeholder: "22 rue des Ursulines, 22100 Dinan",
              data: { target: "map.address" }
            %>
          </div>

          <%# Section TRANSPORTATION %>
          <div class="transportation-section-hp">
            <h3>Vous vous déplacez...</h3>
            <div class="d-flex justify-content-center my-4">
              <%= render 'transportation' %>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="form-wrapper" id="map-section">
    <div class="container text-center">
      <h3 class="title-map-hp">Les commerçants à proximité</h3>
      <div id="map"
        style="width: 100%; height: 500px;"
        data-markers="<%= @markers.to_json %>"
        data-starting-marker="<%= @starting_marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <%= submit_tag 'Voir les produits', class: "main-btn mt-5" %>
    </div>
  </div>

  <% end %>
</main>
