<main class="container">
	<div id="back">
		<%= link_to("< Voir la liste des produits", products_path, class: "back-text") %>
	</div>
	<h1 class="title-page">Panier</h1>
	<%= render :partial => "shared/timelinebasket" %>
	<div class="row main-content">
		<% if @order_lines.count != 0 %>
		<div class="col-12 col-lg-8">
		    <% total_price = 0 %>
			<% @order_lines.each do |category,order_lines| %>
				<section class="mt-3">
					<h3 class="my-3"><%= category %></h3>
					<% order_lines.each do |order_line| %>
          				<% total_price += order_line.subtotal_price %>
						<%= render partial: "shared/card_product_cart", locals: { order_line: order_line } %>
					<% end %>
				</section>
			<% end %>
		</div>
		<aside class="col-12 col-lg-4 recap">
			<div>
				<p class="overtitle">Adresse de départ</p>
				<h4 class="address-and-date"><%= @cart.starting_address %></h4>
			</div>
			<div>
				<p class="overtitle">Récupérez vos courses</p>
				<h4 class="address-and-date">Le <%= l(DateTime.tomorrow, format: :long) %></h4>
			</div>
			<footer>
				<p class="taxes">Taxes incluses</p>
				<div id="total">
					<p class="number-article">
						<%if @article == 1 %>
							<%= @article %> article
						<% else %>
							<%= @article %> articles
						<% end %>
					</p>
					<p>TOTAL : <strong> <%= humanized_money total_price %> €</strong></p>
				</div>
				<div>
					<% if total_price != 0 %>
						<%= form_tag orders_path do %>
              <button class="main-btn btn-custom"  data-stripe="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>" data-session="<%= @cart.checkout_session_id %>">Payer</button>
		        		<% end %>
		        	<% else %>
		        		<%= form_tag orders_path do %>
          					<%= hidden_field_tag 'order_id', @order %>
          						<%= submit_tag 'Payer', class: 'main-btn btn-custom', disabled: true %>
            <% end %>
          <% end %>
				</div>
			</footer>
		</aside>
		<% else %>
		<div class="col-12">
			<figure class="illustration">
				<%= image_tag("illustrations/empty.svg", width: "500px") %>
			</figure>
			<p class="empty">Votre panier est vide...</p>
		</div>
		<% end %>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const paymentButton = document.getElementById('pay');
      if (paymentButton){
      paymentButton.addEventListener('click', (event) => {
        event.preventDefault();
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @cart.checkout_session_id %>'
        });
      });
  }
    </script>
	</div>
</main>
