<div class="container pt-5 mt-5">
  <div class="mb-3">
    <%= link_to "< Retour aux produits", products_path, class: 'back-text' %>
  </div>
    <div class="d-flex">
      <div>
        <div class="card img-product" style="width: 350px">
          <%= image_tag @product.photo, crop: :fill, width: 400 %>
          <div class="form-group row">
            <div class="col-10">
              <input class="form-control" type="number" min= "0" value="0" id="example-number-input">
            </div>
          </div>
        </div>
        <%= simple_form_for [@product, @order_line] do |f| %>
          <%= f.input :quantity %>
          <%= submit_tag 'Valider', class: 'btn btn-primary mt-3 mb-5 button-product' %>
        <% end %>
      </div>
      <div class="text-product px-4">
        <div class="overtitle"><%= @product.amount %> <%= @product.unit %></div>
        <h2><%= @product.name %></h2>
        <p><%= @product.shop.description %></p>
      </div>
        <div class="card-price pr-5">
          <h4 mr-1><%= @product.price %></h4>
          <div class="price-currency">€</div>
        </div>
      <div class="card courses">
          <div class="text-center p-3" id="border-bottom">
            Mes courses
          </div>
           <%= render 'cartlist' %>
        </div>
      </div>
  </div>
</div>

<!-- <div class="banniere-commercant mt-5"> -->
<div class="banniere-commercant mt-5" style="background-image: linear-gradient(rgba(20, 20, 20, .4), rgba(20, 20, 20, .4)), url(<%= cl_image_path(@product.shop.photo.key) %>);">
  <div class="container text-shop">
    <h1 mb-2><%= @product.shop.name %></h1>
    <div class="overtitle mb-2">Ouvert de <%= @product.shop.opening_hour %>h à <%= @product.shop.closing_hour %>h</div>
    <p class="mb-5 text-shop-content"><%= @product.shop.description %></p>
  </div>
</div>
