<div class="container pt-5 mt-5">
  <div class="shape-2"></div>
  <div class="mb-3">
    <%= link_to "< Retour aux produits", products_path, class: 'back-text' %>
  </div>
    <div class="d-flex">
      <div>
        <div class="card card-product-show" style="width: 350px">
          <%= image_tag @product.photo, crop: :fill, width: 400 %>
          <div data-controller="counter" class="compteur-show">
            <%= simple_form_for [@product, @order_line] do |f| %>

              <div class="compteur" data-target="counter.counter">
                <button type="button" data-action="click->counter#decrease" class="value-button decrease">
                  -
                </button>

                <% if @cart.order_lines.find_by(product: @product) %>
                  <input class="counter-value" value="<%= @cart.order_lines.find_by(product: @product).quantity %>" data-order-line-id="<%= @cart.order_lines.find_by(product: @product).id %>" data-product-id="<%= @product.id %>" data-target="counter.input" type="number" step="1" name="order_line[quantity]" id="order_line_quantity">
                <% else %>
                  <input class="counter-value" value="0" data-product-id="<%= @product.id %>" data-target="counter.input" type="number" step="1" name="order_line[quantity]" id="order_line_quantity">
                <% end %>

                <button type="button" data-action="click->counter#increase" class="value-button increase">
                  +
                </button>

              </div>
            <% end %>
          </div>
          <div>
          </div>
        </div>
      </div>
      <div class="text-product px-4">
        <div class= "d-flex justify-content-between">
          <div class="overtitle"><%= @product.amount %> <%= @product.unit %></div>
            <div class="card-price pr-5">
              <h4 mr-1><%= @product.price %></h4>
              <div class="price-currency">€</div>
            </div>
        </div>
        <h2><%= @product.name %></h2>
        <% if @product.description.present? %>
          <p>@product.description</p>
        <% else %>
          <p>Un produit fait avec amour en France qui ravira les papilles des petits et grands.</p>
        <% end %>
      </div>
      <div class="card courses">

          <div class="text-center p-3" id="border-bottom">
            Mes courses
          </div>
          <div id="cartlist">
            <%= render 'cartlist' %>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- <div class="banniere-commercant mt-5"> -->
<div class="banniere-commercant mt-5" style="background-image: linear-gradient(rgba(20, 20, 20, .4), rgba(20, 20, 20, .4)), url(<%= cl_image_path(@product.shop.photo.key) %>);">
  <div class="container text-shop">
    <h1 mb-2><%= @product.shop.name %></h1>
    <div class="overtitle mb-2">Ouvert de <%= @product.shop.opening_hour %>h à <%= @product.shop.closing_hour %>h</div>
    <p class="mb-5 text-shop-content"><%= @product.shop.description %></p>
  </div>
</div>
